<table class="table table-bordered table-striped">
  <tr>
    <th>Id</th>
    <td>{{ ticket.pk }}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>
      <a href="{{ ticket.get_absolute_url }}">
        {{ ticket.description }}
      </a>
    </td>
  </tr>
  <tr>
    <th>Active</th>
    <td>{{ ticket.active }}</td>
  </tr>
  <tr>
    <th>Requester</th>
    <td>{{ ticket.requester }}</td>
  </tr>
  <tr>
    <th>Created</th>
    <td>{{ ticket.created }}</td>
  </tr>
  <tr>
    <th>Modified</th>
    <td>{{ ticket.modified }}</td>
  </tr>
  {% if not ticket.active %}
    <tr>
      <th>Finished at</th>
      <td>{{ ticket.finished_at }}</td>
    </tr>
  {% endif %}
</table>