<table class="table table-bordered table-striped">
    <tr>
        <th class="col-1">Id</th>
        <td>{{ ticket.pk }}</td>
    </tr>
    <tr>
        <th class="col-1">Description</th>
        <td>
            <a href="{% url 'tickets:ticket_detail' ticket.pk %}">
                {{ ticket.description }}
            </a>
        </td>
    </tr>
    <tr>
        <th class="col-1">Active</th>
        <td>{{ ticket.active }}</td>
    </tr>
    <tr>
        <th class="col-1">Requester</th>
        <td>{{ ticket.requester }}</td>
    </tr>
    <tr>
        <th class="col-1">Created</th>
        <td>{{ ticket.created }}</td>
    </tr>
    <tr>
        <th class="col-1">Modified</th>
        <td>{{ ticket.modified }}</td>
    </tr>
    {% if not ticket.active %}
        <tr>
            <th class="col-1">Finished at</th>
            <td>{{ ticket.finished_at }}</td>
        </tr>
    {% endif %}
</table>