<table class="table able-sm table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Priority</th>
      <th>Active</th>
      <th>Executor</th>
      <th>Finished</th>
    </tr>
  </thead>
  <tbody>
    {% for task in ticket.task.all %}
      <tr>
        <td>
          <a href="{% url 'tickets:task_detail' ticket.pk task.pk %}">
            {{ task.description }}
          </a>
        </td>
        <td>{{ task.priority }}</td>
        <td>{{ task.active }}</td>
        <td>{{ task.executor }}</td>
        <td>{{ task.finished_at }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
