{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'tickets:task_log' ticket.pk task.pk %}">Add a log</a>
  {% include 'detail_table.html' %}
  <table class="table table-bordered table-striped">
    <tr>
      <th>Description</th>
      <td>{{ task.description }}</td>
    </tr>
    <tr>
      <th>Priority</th>
      <td>{{ task.priority }}</td>
    </tr>
    <tr>
      <th>Active</th>
      <td>{{ task.active }}</td>
    </tr>
    <tr>
      <th>Creator</th>
      <td>{{ task.creator }}</td>
    </tr>
    <tr>
      <th>Executor</th>
      <td>{{ task.executor }}</td>
    </tr>
    <tr>
      <th>Created</th>
      <td>{{ task.created }}</td>
    </tr>
    <tr>
      <th>Modified</th>
      <td>{{ task.modified }}</td>
    </tr>
    {% if not task.active %}
      <tr>
        <th>Finished at</th>
        <td>{{ task.finished_at }}</td>
      </tr>
    {% endif %}
  </table>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Logs</th>
        <th>Created</th>
      </tr>
    </thead>
    {% for log in task.logs.all %}
      <tr>
        <td>{{ log.description }}</td>
        <td>{{ log.created }}</td>
      </tr>
    {% empty %}
      <tr>
        <td>There are no logs at moment</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}