{% extends 'base.html' %}

{% block content %}
    <table class="table table-bordered table-striped table-responsive">
        <tr>
            <th class="text-nowrap" scope="row">Id</th>
            <td>{{ ticket.pk }}</td>
        </tr>
        <tr>
            <th class="text-nowrap" scope="row">Description</th>
            <td>{{ ticket.description }}</td>
        </tr>
        <tr>
            <th class="text-nowrap" scope="row">Active</th>
            <td>{{ ticket.active }}</td>
        </tr>
        <tr>
            <th class="text-nowrap" scope="row">Created</th>
            <td>{{ ticket.created }}</td>
        </tr>
        <tr>
            <th class="text-nowrap" scope="row">Modified</th>
            <td>{{ ticket.modified }}</td>
        </tr>
        <tr>
            <th class="text-nowrap" scope="row">Finished at</th>
            <td>{{ ticket.finished_at }}</td>
        </tr>
        <tr>
            <th class="text-nowrap" scope="row">Requester</th>
            <td>{{ ticket.requester }}</td>
        </tr>
    </table>
{% endblock content %}